:root{
  --colBackForm: #2c3e50;
  --colBackInput: #f4e6a9;
  --colTxtInput: #2c3e50;
  --fontTxt: "Calisto MT", sans-serif;
}

  h1{
      width: 900px;
      margin: auto;
    }
    
    ul {
      list-style: none;
      display: flex;
      margin: auto;
      width: 900px;
    }
    
    a {
      text-decoration: none;
      color: green;
    }
    
    li {
      margin-right: 15px;
      font-size: x-large;
    }

    
    .topicTitle{
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .topic {
      color:rgb(51, 51, 51);
      font-size: large;
    }
    
    /* Propriétés pour le TP */
.colTopic{
  column-count: 3;
}

.divForm{
  /* display: flex; */
  /* flex-wrap: wrap; */
  columns : 3;
}

.divFormElt{
  margin-top: 5px;
}

.shortLabel{
  width: 150px;
  display: inline-block;
}

span{
  color:red;
}

.falseElt{
  border-color: red;
}

.rightElt{
  border-color:default;
  font-family: var(--fontTxt);
}

.titleFormRow{
  display: flex;
  justify-content: center;
}

.titleFormCol{
  text-align: center;
}

.titleForm{
  font-family: var(--fontTxt);
  color: var(--colTxtInput);
  text-shadow: 8px 5px 5px;
}

.iconField{
  background-color: var(--colBackInput);
  color: var(--colTxtInput);
  height: 25px;
}

.divForm1{
  width: 350px;
  margin: auto;
  background-color: var(--colBackForm);
  border-radius: 10px;
  box-shadow: 15px 10px 15px;
}

.inputRow{
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.txtMsgErr{
  color: red;
  margin-left: 10px;
  margin-right: 10px;
}

.inputCol{
  color: var(--colTxtInput);
  vertical-align: middle;
 }

.eltInput{
  background-color: var(--colBackInput);
  border-radius: 5px;
  width: 250px;
}

.eltRadio{
  background-color: var(--colBackInput);
}

.eltTextArea{
  background-color: var(--colBackInput);
  border-radius: 5px;
  width: 250px;
}

.radioCol{
  color: var(--colBackInput);
  font-family: var(--fontTxt);
}

.btn{
  background-color: var(--colBackForm);
  color: var(--colBackInput);
}

/* from bk md */
@media screen and (min-width: 768px){
  .divForm1{
    width: 700px;
    margin: auto;
  }
  .eltTextArea{
    width: 500px;
  }
}

